:root {
  --color-primary: #2b4162;
  --color-secondary: #385f71;
  --color-tertiary: #4b4b4bfd;
  --color-text: #000000;
  --color-link: #0000ee;

  --background-gradient: linear-gradient(to right, #ffffff, #b2b2b2 50%),
    linear-gradient(to left, #ffffff, #a9a9a9 50%);
  --background-gradient-reverse: linear-gradient(
    90deg,
    var(--color-tertiary),
    var(--color-secondary),
    var(--color-primary)
  );
}

body {
  background: black;
}

a {
  text-decoration: underline;
}
